# Ansible Managed Templates
cluster.name: "{{ cluster_name }}"
node.name: "{{ inventory_hostname }}"
#bootstrap.memory_lock: true
network.host: _ec2_
http.port: 9200
cloud:
    aws:
        access_key: {{ aws_access_key }}
        secret_key: {{ aws_secret_key }}
        region: {{ aws_region }}


http.cors.enabled : true
http.cors.allow-origin : "*"
http.cors.allow-methods : OPTIONS, HEAD, GET, POST, PUT, DELETE
http.cors.allow-headers : X-Requested-With,X-Auth-Token,Content-Type, Content-Length

indices.fielddata.cache.size: 40%
indices.breaker.fielddata.limit: 50%

discovery:
    zen.hosts_provider: ec2

bootstrap.memory_lock: true

#INSERT_LINES HERE
